@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: radial-gradient(ellipse at bottom, #0d1d31 0%, #000 100%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .text-flipper:hover .text-flipper--text:first-child .char {
    transform: rotate3d(1, .3, 0, -90deg);
  }

  .text-flipper:hover .text-flipper--text:last-child .char {
    transform: rotate3d(1, .3, 0, 0deg);
  }
}
/* #89FC00", "#F896D8", "#C879FF", "#06D6A0", "#75DDDD", "#9368B7" */
@keyframes welcomeText {
  0% {
    stroke: #89FC00;
    stroke-dashoffset: var(--dash-offset);
  }
  10% {
    stroke: #9368B7;
  }
  20% {
    stroke: #F896D8;
  }
  30% {
    stroke: #89FC00;
  }
  40% {
    stroke: #C879FF;
  }
  50% {
    stroke: #9368B7;
  }
  60% {
    stroke: #06D6A0;
  }
  70% {
    stroke: #C879FF;
  }
  80% {
    stroke: #75DDDD;
    fill: transparent;
  }
  100% {
    stroke: #fff;
    fill: #fff;
    stroke-dashoffset: 0;
  }
}

.fun-text {
  --dash-offset: 50;
  svg {
    path {
      fill: transparent;
      stroke: #fff;
      stroke-width: 0.1;
      stroke-dasharray: var(--dash-offset);
      stroke-dashoffset: var(--dash-offset);
      animation: welcomeText 4s ease-in-out 1 forwards 4s;
    }
  }
}

.space-clouds {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    mask-image: url("/img/space-clouds.gif");
    mask-size: cover;
    mask-position: center;
  }
}

.link-glow-yellow {
  background-image: radial-gradient(circle closest-corner at 50% 200%, rgba(244, 211, 114, .5), rgba(255, 255, 255, 0));
}

.link-glow-blue {
  background-image: radial-gradient(circle closest-corner at 50% 200%, rgba(174, 250, 255, .5), rgba(255, 255, 255, 0));
}

.link-glow-green {
  background-image: radial-gradient(circle closest-corner at 50% 200%, rgba(186, 255, 179, .5), rgba(255, 255, 255, 0));
}

.link-glow-red {
  background-image: radial-gradient(circle closest-corner at 50% 200%, rgba(255, 109, 165, .5), rgba(255, 255, 255, 0));
}

.link-glow-purple {
  background-image: radial-gradient(circle closest-corner at 50% 200%, rgba(241, 154, 202, .5), rgba(255, 255, 255, 0));
}

.link-glow-pink {
  background-image: radial-gradient(circle closest-corner at 50% 200%, rgba(255, 180, 215, .5), rgba(255, 255, 255, 0));
}

.link-glow-indigo {
  background-image: radial-gradient(circle closest-corner at 50% 200%, rgba(104, 208, 238, .5), rgba(255, 255, 255, 0));
}

.link-glow-orange {
  background-image: radial-gradient(circle closest-corner at 50% 200%, rgba(245, 176, 62, .5), rgba(255, 255, 255, 0));
}

.link-glow-peach {
  background-image: radial-gradient(circle closest-corner at 50% 200%, rgba(255, 202, 177, .5), rgba(255, 255, 255, 0));
}

.text-glow {
  text-shadow: 0 0 1rem navajowhite;
}
